# Docker Ignored files and folders

# Eclipse
.project
.settings/

# Java
.classpath
bin/
src/
WebContent/

# Vertx
.vertx

# Gradle
gradle/
gradlew
gradlew.bat
build.gradle
build/
!build/libs/

# Git
.git/
.github/
.gitattributes
.gitignore

# Miscellaneous
.travis.yml
app.json
manifest.yml
