/*
 * RamblingWare CSS
 * Author: Austin Delamar
 * Date: 1/6/2017
 */
 @media print {
 	.no-print { display: none; }
 }
*[class^="icon-"] {
	background-repeat: no-repeat;
	background-position: 10px center;
	text-indent: 25px !important;
	background-size: 20px 20px;
}
.icon-info {
	background-image: url('/img/icon-info.png') !important;
}
.icon-search {
	background-image: url('/img/icon-search.png') !important;
}
.icon-undo {
	background-image: url('/img/icon-undo.png') !important;
}
.icon-redo {
	background-image: url('/img/icon-redo.png') !important;
}
.icon-delete {
	background-image: url('/img/icon-delete.png') !important;
}
.icon-warning {
	background-image: url('/img/icon-warning.png') !important;
}
.icon-error {
	background-image: url('/img/icon-error.png') !important;
}
.icon-star {
	background-image: url('/img/icon-star.png') !important;
}
.icon-visible {
	background-image: url('/img/icon-visible.png') !important;
}
[data-icon]:before {
  font-family: icons;
  content: attr(data-icon);
  font-size: 1.3em;
  line-height: 1em;
  text-decoration: none;
  padding: 0px;
  margin: 0px 6px 0px 0px;
}
[data-close]:after {
	content: '\00D7';
	text-decoration: none;
	padding: 0px;
	margin: 0px 6px 0px 0px;
	float: right;
	opacity: 0.3;
	font-size: 1.1em;
}
[data-close]:hover:after {
	opacity: 1;
	cursor: pointer;
}
.footnote {
	color: #666666 !important;
	font-size: 10pt !important;
	padding-top:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
}
.quote {
	font-style: italic !important;
}
.large {
	font-size: 2.0em !important;
	font-weight: 600;
}
.thin {
	line-height: 0.8 !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.bold {
	font-weight: 700 !important;
}
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.tag {
	text-decoration: none !important;
	padding: 2px;
	font-size: 0.8em !important;
	white-space: nowrap !important;
}
.w3-hover-opaque:hover {
	opacity: 1.0;
}
.bottomright {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
*[class^="social-"] {
	background-repeat: no-repeat !important;
	background-position: 0px center !important;
	text-indent: 50px !important;
	background-size: 40px 40px !important;
	text-decoration: none !important;
	padding-top: 10px !important;
	padding-left: 45px !important;
	padding-right: 0px !important;
	padding-bottom: 10px !important;
}
.social-facebook {
	background-image: url('/img/social-facebook.png') !important;
}
.social-google {
	background-image: url('../img/social-google.png') !important;
}
.social-twitter {
	background-image: url('../img/social-twitter.png') !important;
}
.social-linkedin {
	background-image: url('../img/social-linkedin.png') !important;
}
.social-github {
	background-image: url('../img/social-github.png') !important;
}
.social-rss {
	background-image: url('../img/social-rss.png') !important;
}
header {
	min-height: 50px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
}
header .logo {
	margin-left: 0px;
	width: auto; 
	max-height: 50px !important;
}
article {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 40px;
	margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
footer {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
	text-align: center !important;
}
footer, footer h3, footer a, footer a:visited, footer p, footer span {
	color: #838080 !important;
}
footer a {
	text-decoration: none;
}
footer a:hover {
	color: #000000 !important;
}
footer li {
	display: inline;
	padding-top: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
}
footer ul {
    list-style: none outside none;
    padding: 6px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
footer h2 {
	font-size: 16pt;
}
#recent ul {
    text-indent: 0px;
    padding-left: 12px;
}
#tabs {
	/*background: transparent !important;*/
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 25px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
}
#menu {
	margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
#tabs ul, #menu ul {
    list-style: none outside none;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#tabs li, #menu li {
	display: inline;
}
#tabs a, #menu a {
	display: block;
	text-decoration: none !important;
	text-align: center;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	background: transparent;
}
.page {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
#page-content {
	word-wrap: break-word;
}
.page-half {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.page-quarter {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}
html, body {
	font-family: 'Source Sans Pro', sans-serif !important;
	font-size: 14pt;
	line-height: 1.7;
	min-width: 302px;
	margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
a {
	text-decoration: underline;
}
h1 {
	font-family: 'Source Sans Pro', sans-serif !important;
	border-bottom: 2px solid #505050;
	font-weight: 700;
}
h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif !important;
	border: 0px;
	font-weight: 500;
}
h1 a, h2 a, h3 a {
	color: initial !important;
	text-decoration: none !important;
}
blockquote {
	margin: 25px 0px 25px 0px;
	border-left: 3px solid lightgrey;
	padding: 2px 5px 2px 25px;
	border-radius: 5px;
	border-right: 3px solid lightgrey;
	font-size: 1.1em;
	opacity: 0.6;
}